/* start global rules  */
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: #5454ff;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #3434ff;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
*:focus{
  outline: none;
}
a{
  text-decoration: none;

}
li ,ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/* end global rules  */ 
.page{
  min-height: 100vh;
}
/* start side bar */
.sidebar{
  overflow: hidden;
  width: 94px;
  height: 100vh;
  box-shadow: 11px 0px 20px 2px #96969687;
  position: sticky;
  top: 0px;
  left: 0px;
  transition:.4s ;
  -webkit-transition:.4s ;
  -moz-transition:.4s ;
  -ms-transition:.4s ;
  -o-transition:.4s ;
}

@media (min-width:550px) {
  .sidebar:hover{
    width: 250px;
    box-shadow: 6px 0px 0px  #969696;
  }
  .sidebar:hover h3{
    font-size: 28px;
  }
  .sidebar:hover  span{
    transform: sidebar(10px);
    -webkit-transform: sidebar(10px);
    -moz-transform: sidebar(10px);
    -ms-transform: sidebar(10px);
    -o-transform: sidebar(10px);
}
}
.sidebar h3{
  font-size: 14px;
  transition-duration: 0.4s;
  transition-delay: 0.3s;
  margin-bottom: 50px;
}
.sidebar h3::before,
.sidebar h3::after{
  position: absolute;
  content: "";
  left: 50%;
}
.sidebar h3::before{
  width: 70px;
  height: 2px;
  background-color: #969696;
  bottom: -10px;
  transform: translateX(-50%);
}
.sidebar h3::after{
  border: 4px solid rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -9px;
  transform: translateX(-50%) translatey(50%);
  background: #5454ff;
}
.sidebar ul li{
  background-color: #ffffff;
  padding: 18px 5px;
  transition: 0.3s;
}
.sidebar ul li:hover,
.sidebar ul li.active{
  background-color: #eeeeee;
}
.sidebar ul li a{
  transition: 0.4s;
}
.sidebar ul li a:hover ,
.sidebar ul li a.active {
  background-color: rgba(0, 0, 255, 0.096);
}
.sidebar ul li:hover a,
.sidebar ul li a.active{
  transition: 0.4s;
  color: rgb(72, 72, 255);
}
.sidebar ul li a span{
  margin-left: 7px;
  position: absolute;
  transform: translatex(60px);
  transition-duration: 0.5s;
  transition-delay: 0.3s;
  transition-property: all;
  -webkit-transform: translatex(60px);
  -moz-transform: translatex(60px);
  -ms-transform: translatex(60px);
  -o-transform: translatex(60px);
}
/*  the media 767 px */
@media (max-width:767px) {
  .sidebar i{
    font-size: 13px;
  }
  .sidebar{
    width: 67px;
    padding: 6px
  }
  .sidebar h3{
    margin-bottom: 50px; 
    margin-top: 10px;
    font-size: 14px; 
  }
  .sidebar h3::before,
  .sidebar h3::after{
    position: absolute;
    content: "";
    left: 50%;
  }
  .sidebar h3::before{  
    width: 90%;
    height: 2px;
    background-color: #969696;
    bottom: -10px;
    transform: translateX(-50%);
  }
  .sidebar h3::after{
    border: 4px solid rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: -9px;
    transform: translateX(-50%) translatey(50%);  
    background: #5454ff;
  }
}
/* end side bar */
/* start content */
.content{
  overflow: hidden; 
}
.content .header .search input{
  width: 160px;
  border-radius: 15px;
  padding-left: 15px;
  border: 2.4px solid #a4c1ff;
  transition: 0.4s;
}
.content .header .search input:focus{
  width: 210px;
}
.content .header .icons span i{
  color: rgb(90, 106, 253);
  font-size: 20px;
  margin-top: 15px;
  position: relative;
} 
.content .header .icons span::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff2d2d;
  top: -12px;
  left: 12px;
} 
.content .header .icons img{
  width: 50px;
  padding-left:  10px;

} 

h1{
  margin: 20px 20px 40px;
  width: fit-content;
}
h1::after,
h1::before{
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 0px;
}
h1::before{
  background-color: rgb(255, 255, 255);
  width: 100%;
}
h1::after{
  background-color: rgb(50, 104, 255);
  width: 50%;
}
.holder{
  grid-template-columns: repeat(auto-fill ,minmax(450px,1fr));
  margin: 0 20px;
}
@media (max-width:767px) {
  .holder{
    grid-template-columns: minmax(200px,1fr);
    margin: 0 10px;
    gap: 10px;
  }
}
.welcome{
  overflow: hidden;
}
.welcome .intro img{
  width: 200px;
} 
.welcome .intro div{
  flex: 1;
}
.welcome .avatar{
  width: 64px;
  border: 5px solid white;
  border-radius: 50%;
  margin-top: -32px;
  margin-left: 50px;
}
.welcome .body {
  border-top: 2px solid #eee ;
  border-bottom: 2px solid #eee ;
}
.welcome .body > div{
  flex: 1;
}


.welcome .visit{
  margin: 15px 15px 15px auto; 
  text-align: center;
  transition: 00.3s;
}
@media (max-width:767px) {
  .welcome .intro{
    padding-bottom: 30px;
  }
  .welcome .intro img{
    display: none;
  }
  .welcome .avatar{
    margin-left: 0px;
  }
  .welcome .body > div:not(:last-child){
    margin-bottom: 20px;
  }
}
.quick-draft form .save{
  margin-left: auto;
  cursor: pointer;
}
.quick-draft form textarea{
  resize: none;
  min-height: 195px;
}
.target .row .icon{
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin-right: 20px;
}
.target .row .details {
  flex: 1;
}
.target .row .details  .progress {
  border-radius:7px;
  height: 12px;

}
.target .row .details  .progress > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;  border-radius:7px;
}
.target .row .details  .progress > span span {
  position: absolute;
  bottom: 31px;
  right: -16px;
  color: white;
  font-weight: bold;
  padding: 6px 6px;
  font-size: 14px;
  border-radius: 5px;
}
.target .row .details  .progress > span span::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  left: 9px;
  bottom: -18px;
}
.target .row .details  .progress > span.blue span::after {
  border-color: #5454ff transparent transparent transparent;
}
.target .row .details  .progress > span.red span::after {
  border-color: rgb(255, 68, 68) transparent transparent transparent;
}
.target .row .details  .progress > span.green span::after {
  border-color: rgb(20, 88, 119) transparent transparent transparent;
}
.target > div >div>i{
  font-size: 25px;
} 
.ticket .box:nth-child(1){
  width: calc(50% - 10px);
  border-bottom: 5px solid  rgb(255, 170, 13);
}
.ticket .box:nth-child(2){
  width: calc(50% - 10px);
  border-bottom: 5px solid  rgb(255, 38, 38);
}
.ticket .box:nth-child(3){
  width: calc(50% - 10px);
  border-bottom: 5px solid  #5454ff;
}
.ticket .box:nth-child(4){
  width: calc(50% - 10px);
  border-bottom: 5px solid  rgb(0, 124, 182);
}
.latest-news .row:not(:last-of-type){
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
}
.latest-news .row img{
  width:100px ;
  border-radius: 6px;
  margin-right: 15px;
}
.latest-news .row .info{
  flex: 1;
}
.latest-news .row .info h3{
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
@media (max-width:767px) {
  .latest-news .row img{
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .latest-news .row .labol{
    margin-top: 10px;
  }
}
.tasks i{
  cursor: pointer;
  transition: 0.4s;
}
.tasks i:hover{
  filter: grayscale(12);
}
.upload img{
  width: 45px;
  margin-bottom: 10px;
}
.last-project ul::before{
  content: "";
  position:absolute;
  left: 31px;
  width: 2px;
  height: 100%;
  background-color: #3434ff;
}
.last-project ul li{
  position: relative;
  margin-left: 20px;
}
.last-project  ul li::before{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: #e2e2e2;
  border: 2px solid white;
  outline: 2px solid #5454ff;
  margin-right: 20px;
}

.last-project  ul li.done::before{
 background-color: #5454ff;
}
.last-project  ul li.current::before{
  animation: change 0.8s infinite alternate;
  -webkit-animation: change 0.8s infinite alternate;
}   
@keyframes change {
  form{
    background-color: #ffffff;
  }
  to{
    background-color: #5454ff
  }
}
.last-project  img {
  position: absolute;
  top: 34%;
  right: 37px;
  width: 160px;
}
.reminders ul li .key{
  width: 15px ;
  height: 15px;
  margin-right: 7px;
  margin-left: 7px;
}
.reminders ul li > .blue{
  border-left: 4px solid #5454ff ;
  border-radius:8px ;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
}
.reminders ul li > .red{
  border-left: 4px solid rgb(255, 38, 38);
  border-radius:8px ;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
}
.reminders ul li > .green{
  border-left: 4px solid  rgb(0, 124, 182);
  border-radius:8px ;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
}
.reminders ul li > .orange{

  border-left: 4px solid  rgb(255, 170, 13);
  border-radius:8px ;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
}
.latest-post .avatar{
  width: 48px;
}
.latest-post .post-content{
  border-bottom: 3px solid #d5d5d5;
}
.latest-post .post-stats div i{
  transition: 0.3s;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.latest-post .post-stats i:hover{
  color: #5454ff;
  font-size: 22px;
}
.social .box{
  padding-left: 70px;
}
.social .box i{
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 52px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.social .box i:hover{
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
}
.social  .tiwtter{
  background-color: #1da0f217;
  color: #1da1f2;
}
.social  .tiwtter a,
.social  .tiwtter i{
  background-color: #1da1f2; 
}

.social  .facebook{
  background-color: #1876f227;
  color:#1876f2;
}
.social  .facebook a,
.social  .facebook i{
  background-color: #1876f2;
}
.social .youtube{
  background-color: #ff000031;
  color: #ff0000;
}
.social  .youtube a,
.social  .youtube i{
  background-color:  #ff0000;
}
.social .linkedin{
  background-color: #0076b53d;
  color: #0077b5;
}
.social  .linkedin a,
.social  .linkedin i{
  background-color: #0077b5;; 
}
.social .instagram{
  background-color: #e1306b34;
  color: #e1306c;
}
.social  .instagram a,
.social  .instagram i{
  background-color: #e1306c;
}


.project-table  .response {
  overflow-x: auto;
}
.project-table table {
  min-width: 1000px;
}
.project-table  table{
  border-spacing: 0px;

}
.response tbody td{
  padding: 15px;
}
.response tbody   td:not(:last-child){
  padding: 15px;
  font-size: 20px; 
  color: gray; 
}
.project-table img{
  width: 30px;
  border: 3px solid white;
  border-radius: 50%;
  transition: 0.4s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.project-table img:hover{
  transform: translatey(-8px);
  -webkit-transform: translatey(-8px);
  -moz-transform: translatey(-8px);
  -ms-transform: translatey(-8px);
  -o-transform: translatey(-8px);
}
.project-table img:not(:first-child){
    margin-left: -18px;
} 
.response thead td {
  background-color: #eee;
  padding: 20px;
  color: #0f3f7e;
  transition: 0.3s;
  font-size: large;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s; 
  -o-transition: 0.3s;
}
.response tbody tr:hover td {
  background-color: #faf7f7;
}
.response tbody td {
  border-bottom: 3px solid #eee;
  border-left: 3px solid #eee;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.response tbody td:last-child {
  border-right : 3px solid #eee;
  
}
/* start setting*/
.toggle-checkbox{
  -webkit-appearance : none ;
  appearance: none;
  
}
.toggle-switch{
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.toggle-switch::before{
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.toggle-checkbox:checked + .toggle-switch{
  background-color: #0077b5;
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: 50px;
  color: #6eadff;
  content: "\f00c";
}
.setting-page{
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr)) ;
}
@media (max-width:767px) {
  .setting-page{
    grid-template-columns: minmax(100px,1fr) ;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.setting-page .Security .box:not(:last-child){
  padding-bottom: 6px;
}
.setting-page .Security .box:not(:last-child){
  border-bottom: 1px solid #eeeeee;
}
.setting-page .close-massage{
  resize: none;
  width: 100%;
  min-height: 160px;
  padding: 10px;
  border: 1px solid rgb(202, 202, 202);
}
.setting-page .address{
  display: inline-flex;
  width: calc(100% - 100px);
}
.setting-page .social-box i{
  width: 40px ;
  height: 40px;
  background-color: #eeeeee;
  border:  1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0  6px;
  -webkit-border-radius: 6px 0 0  6px;
  -moz-border-radius: 6px 0 0  6px;
  -ms-border-radius: 6px 0 0  6px;
  -o-border-radius: 6px 0 0  6px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.setting-page .social-box input{
  height: 40px;
  background-color: #eeeeee;
  border:  1px solid #ddd;
  padding-left: 15px;
  border-left: none;
  border-radius: 0 6px  6px 0;
  -webkit-border-radius: 0 6px  6px 0;
  -moz-border-radius: 0 6px  6px 0;
  -ms-border-radius: 0 6px  6px 0;
  -o-border-radius: 0 6px  6px 0;
}
.setting-page .social-box >div:focus-within i{
  color: #0077b5;
  font-size: 26px;
}
.General a{
  margin-left: 17px;
  background-color: #ddd;
  padding: 12px 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.widgets-box .control label{
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-box .control label::after{
  font-family: "Font Awesome 5 Free";
  transition: 0.4s;
  content: "\f00c";
  font-weight: 900;
  position: absolute;
  left: 2px;
  font-size: 12px;
  display: flex;
  align-items:  center;
  justify-content: center;
  width: 16px;
  height: 16px;
  top: 50%;
  color: white;
  background-color: #0077b5;
  transform: translatey(-50%) scale(0) rotate(360deg);
  -webkit-transform: translatey(-50%) scale(0) rotate(360deg);
  -moz-transform: translatey(-50%) scale(0) rotate(360deg);
  -ms-transform: translatey(-50%) scale(0) rotate(360deg);
  -o-transform: translatey(-50%) scale(0) rotate(360deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.widgets-box .control label::before{
  content: "";
  position:absolute ;
  left: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid #d3d3d3;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.widgets-box .control label:hover::before{
  border-color:#0077b5;
}
.widgets-box .control input[type="checkbox"]{
  appearance: none;
}
.widgets-box .control input[type="checkbox"]:checked + label::after{
  transform: translatey(-50%) scale(1);
  -webkit-transform: translatey(-50%) scale(1);
  -moz-transform: translatey(-50%) scale(1);
  -ms-transform: translatey(-50%) scale(1);
  -o-transform: translatey(-50%) scale(1);
}
.widgets-box .control input[type="checkbox"]:checked + label::before{
  border-color:#0077b5;
}
.backup-control input[type="radio"]{
  appearance: none;
}
.backup-control .date label{
  padding-left: 30px;
  cursor: pointer;
  position: relative;

}
.backup-control .date label::after{
  content: "";
  position: absolute;
  left: 0px;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  top: 50%;
  border: 2px solid #ddd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: sale(0);
  -webkit-transform: sale(0);
  -moz-transform: sale(0);
  -ms-transform: sale(0);
  -o-transform: sale(0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.backup-control .date label::before{
  content: "";
  position: absolute;
  left: 5px;
  width: 12px;
  height: 12px;
  top: 3px;
  background-color: #0077b5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before{
  transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
}
.backup-control .date  input[type="radio"]:checked + label::after{
  border-color:#0077b5;
}
.backup-control .servers {
  border-top: 2px solid #eee;
  padding-top: 10px;
}
@media (max-width:767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}
.backup-control .servers .server:not(:last-child) {
  margin-right: 5px;
}
.backup-control .servers .server {
  border: 2px solid #eee;
  position: relative;
  
}
.backup-control .servers .server label {
  cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked +.server {
  border-color: #0077b5 ;
}
/* end setting*/
/* start profile*/
.profile-page .rating i{
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.profile-page .rating i.fa-regular:hover{
  font-weight: bold; 
  color: orange; 
}

@media (min-width:768px) {
  .profile-page .avatar-box{
    width: 300px;
    border-right: 2px solid #eee;
  }
}
@media (MAX-width:768px) {
  .profile-page .overview{
    flex-direction: column;
  }
}
.profile-page .avatar-box > img{
  width: 120px;
}
.profile-page .avatar-box .levele{
  height: 10px;
  overflow: hidden;
  width: 70%;
  margin: auto;
}
.profile-page .avatar-box .levele span{
  height: inherit;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #0077b5;
}
.profile-page .info-box .box{
  flex-wrap: wrap;
  
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.profile-page .info-box .box:not(:last-child){
  border-bottom: 2px solid #eee;
}
.profile-page .info-box .box:hover{
  background-color: #faf7f7;
}
.profile-page .info-box .box > div{
  min-width: 200px;
  padding: 10px 0 0 ;
}
@media (max-width:767px) {
  .profile-page .info-box .box{
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .profile-page .info-box .box > div{
    margin-bottom: 10px;
  }
  .profile-page .info-box .box > div .toggle-switch{
    margin: auto;
  }
}
@media (max-width:767px) {
  .other-data{
    flex-direction: column;
  }
}
.skills{
  flex-grow: 0;
}
.skills ul li{
  padding: 15px 0;
}
.skills ul li span{
  display: inline-flex;
  padding: 6px 10px;
  margin-right: 7px;
  background-color: #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #363636fb;
  margin-top: 6px;
}
.skills ul li:not(:last-child){
  border-bottom: 1px solid #eee;
}
.activities{
  flex-grow: 2;
}
@media (min-width:768px) {
  .activities .activity .date{
    margin-left: auto  ;
    text-align: end;    
  }
}
.activities .activity .date span:last-child{
  font-weight: bold;
}
.activities .activity img{
  width: 70px;
  margin-right: 18px;
}
.activities .activity:not(:last-child){
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (max-width:767px) {
  .activities .activity{
    flex-direction: column;
    
  }
  .activities .activity img{
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .activities .activity .date{
    margin-top: 20px;
    background-color: #eee;
    padding: 8px;
    border-radius:6px ;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    -ms-border-radius:6px ;
    -o-border-radius:6px ;
}
}
/* end profile*/
/* end content*/